<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AQI form</title>
    <link rel="stylesheet" href="/CSS/AQI-form.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="background-img">
      <section id="AQI-search">
        <div class="form">
          <form action="/result" method="post">
            <label class="input-title">City Name</label>
            <br />
            <input
              class="AQI-search-cityname"
              type="text"
              name="cityname"
              placeholder="Please Enter City Name"
            />
            <br />
            <input class="AQI-search-btn" type="submit" onclick="cityname()" />
          </form>
        </div>
        <div class="AQI-search-result-background">
          <h1 class="AQI-city-heading hidden">Below given is your data</h1>
          <h1 class="AQI-city-heading hidden"><%= city %> Current AQI is</h1>
          <div class="AQI-search-result">
            <p class="AQI-component">
              Overall AQI:-
              <br />
              <%= aqi %>
            </p>
            <p class="AQI-component">
              NO2:-
              <!-- <img
                class="no2-img"
                src="/images/pollution-components/NO2-img.png"
                alt=""
              /> -->
              <br />
              <%= NO2 %>
            </p>
            <p class="AQI-component">
              SO2:-<br />
              <%= NO2 %>
            </p>
            <p class="AQI-component">
              PM10:-<br />
              <%= NO2 %>
            </p>
          </div>
        </div>
      </section>
    </div>
    <script src="/cityname.js"></script>
  </body>
</html>
